#parallaxWhite {
    background: rgba(255, 255, 255, 0.7);
}

#site-index h1 {
    margin-top: 50px;
}

#site-index > div.news > div.row {
    margin-bottom: 100px;
}
#site-index > div.news > div.row img {
    width: 100%;
}

#site-index > div.banners > div.row {
	margin-bottom: 20px;
}

#bottomHolder {
    padding-top: 82px;
    padding-bottom: 140px;
}