html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

#bottomHolder {
    position: absolute;
    top: 0;
    min-height: 100%;
    padding-top: 132px;     /* header 82 + отступ 50 */
    padding-bottom: 150px;  /* footer 100 + отступ 50 */
    width: 100%;
}

img {
    vertical-align: top;
}

a {
    color: #333;
    text-decoration: underline;
}
a.btn {
    text-decoration: none;
}

h1 {
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    letter-spacing: 1px;
    font-size: x-large;
    font-weight: bold;
}

h3 {
    font-size: large;
    font-weight: bold;
}