.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse
}

.ui-helper-clearfix:after {
    clear: both
}

.ui-helper-clearfix {
    min-height: 0
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-front {
    z-index: 100
}

.ui-state-disabled {
    cursor: default !important
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-slider {
    position: relative;
    text-align: left
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0
}

.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit
}

.ui-slider-horizontal {
    height: .8em
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0
}

.ui-slider-vertical {
    width: .8em;
    height: 100px
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333
}

.ui-widget-content a {
    color: #333
}

.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold
}

.ui-widget-header a {
    color: #333
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #454545;
    text-decoration: none
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #ccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
    color: #2b2b2b;
    text-decoration: none
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #fff;
    text-decoration: none
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #777620
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
    color: #5f3f3f
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #5f3f3f
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35)
}

.ui-icon {
    width: 16px;
    height: 16px
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("http://test2.glaza.temp.su/local/templates/special_mibok_gos_bitrix_index/css/images/ui-icons_444444_256x240.png")
}

.ui-widget-header .ui-icon {
    background-image: url("http://test2.glaza.temp.su/local/templates/special_mibok_gos_bitrix_index/css/images/ui-icons_444444_256x240.png")
}

.ui-state-default .ui-icon {
    background-image: url("http://test2.glaza.temp.su/local/templates/special_mibok_gos_bitrix_index/css/images/ui-icons_777777_256x240.png")
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url("http://test2.glaza.temp.su/local/templates/special_mibok_gos_bitrix_index/css/images/ui-icons_555555_256x240.png")
}

.ui-state-active .ui-icon {
    background-image: url("http://test2.glaza.temp.su/local/templates/special_mibok_gos_bitrix_index/css/images/ui-icons_ffffff_256x240.png")
}

.ui-state-highlight .ui-icon {
    background-image: url("http://test2.glaza.temp.su/local/templates/special_mibok_gos_bitrix_index/css/images/ui-icons_777620_256x240.png")
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("http://test2.glaza.temp.su/local/templates/special_mibok_gos_bitrix_index/css/images/ui-icons_cc0000_256x240.png")
}

.ui-icon-blank {
    background-position: 16px 16px
}

.ui-icon-carat-1-n {
    background-position: 0 0
}

.ui-icon-carat-1-ne {
    background-position: -16px 0
}

.ui-icon-carat-1-e {
    background-position: -32px 0
}

.ui-icon-carat-1-se {
    background-position: -48px 0
}

.ui-icon-carat-1-s {
    background-position: -64px 0
}

.ui-icon-carat-1-sw {
    background-position: -80px 0
}

.ui-icon-carat-1-w {
    background-position: -96px 0
}

.ui-icon-carat-1-nw {
    background-position: -112px 0
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}

.ui-icon-arrow-4 {
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}

.ui-icon-extlink {
    background-position: -32px -80px
}

.ui-icon-newwin {
    background-position: -48px -80px
}

.ui-icon-refresh {
    background-position: -64px -80px
}

.ui-icon-shuffle {
    background-position: -80px -80px
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px
}

.ui-icon-folder-open {
    background-position: -16px -96px
}

.ui-icon-document {
    background-position: -32px -96px
}

.ui-icon-document-b {
    background-position: -48px -96px
}

.ui-icon-note {
    background-position: -64px -96px
}

.ui-icon-mail-closed {
    background-position: -80px -96px
}

.ui-icon-mail-open {
    background-position: -96px -96px
}

.ui-icon-suitcase {
    background-position: -112px -96px
}

.ui-icon-comment {
    background-position: -128px -96px
}

.ui-icon-person {
    background-position: -144px -96px
}

.ui-icon-print {
    background-position: -160px -96px
}

.ui-icon-trash {
    background-position: -176px -96px
}

.ui-icon-locked {
    background-position: -192px -96px
}

.ui-icon-unlocked {
    background-position: -208px -96px
}

.ui-icon-bookmark {
    background-position: -224px -96px
}

.ui-icon-tag {
    background-position: -240px -96px
}

.ui-icon-home {
    background-position: 0 -112px
}

.ui-icon-flag {
    background-position: -16px -112px
}

.ui-icon-calendar {
    background-position: -32px -112px
}

.ui-icon-cart {
    background-position: -48px -112px
}

.ui-icon-pencil {
    background-position: -64px -112px
}

.ui-icon-clock {
    background-position: -80px -112px
}

.ui-icon-disk {
    background-position: -96px -112px
}

.ui-icon-calculator {
    background-position: -112px -112px
}

.ui-icon-zoomin {
    background-position: -128px -112px
}

.ui-icon-zoomout {
    background-position: -144px -112px
}

.ui-icon-search {
    background-position: -160px -112px
}

.ui-icon-wrench {
    background-position: -176px -112px
}

.ui-icon-gear {
    background-position: -192px -112px
}

.ui-icon-heart {
    background-position: -208px -112px
}

.ui-icon-star {
    background-position: -224px -112px
}

.ui-icon-link {
    background-position: -240px -112px
}

.ui-icon-cancel {
    background-position: 0 -128px
}

.ui-icon-plus {
    background-position: -16px -128px
}

.ui-icon-plusthick {
    background-position: -32px -128px
}

.ui-icon-minus {
    background-position: -48px -128px
}

.ui-icon-minusthick {
    background-position: -64px -128px
}

.ui-icon-close {
    background-position: -80px -128px
}

.ui-icon-closethick {
    background-position: -96px -128px
}

.ui-icon-key {
    background-position: -112px -128px
}

.ui-icon-lightbulb {
    background-position: -128px -128px
}

.ui-icon-scissors {
    background-position: -144px -128px
}

.ui-icon-clipboard {
    background-position: -160px -128px
}

.ui-icon-copy {
    background-position: -176px -128px
}

.ui-icon-contact {
    background-position: -192px -128px
}

.ui-icon-image {
    background-position: -208px -128px
}

.ui-icon-video {
    background-position: -224px -128px
}

.ui-icon-script {
    background-position: -240px -128px
}

.ui-icon-alert {
    background-position: 0 -144px
}

.ui-icon-info {
    background-position: -16px -144px
}

.ui-icon-notice {
    background-position: -32px -144px
}

.ui-icon-help {
    background-position: -48px -144px
}

.ui-icon-check {
    background-position: -64px -144px
}

.ui-icon-bullet {
    background-position: -80px -144px
}

.ui-icon-radio-on {
    background-position: -96px -144px
}

.ui-icon-radio-off {
    background-position: -112px -144px
}

.ui-icon-pin-w {
    background-position: -128px -144px
}

.ui-icon-pin-s {
    background-position: -144px -144px
}

.ui-icon-play {
    background-position: 0 -160px
}

.ui-icon-pause {
    background-position: -16px -160px
}

.ui-icon-seek-next {
    background-position: -32px -160px
}

.ui-icon-seek-prev {
    background-position: -48px -160px
}

.ui-icon-seek-end {
    background-position: -64px -160px
}

.ui-icon-seek-start {
    background-position: -80px -160px
}

.ui-icon-seek-first {
    background-position: -80px -160px
}

.ui-icon-stop {
    background-position: -96px -160px
}

.ui-icon-eject {
    background-position: -112px -160px
}

.ui-icon-volume-off {
    background-position: -128px -160px
}

.ui-icon-volume-on {
    background-position: -144px -160px
}

.ui-icon-power {
    background-position: 0 -176px
}

.ui-icon-signal-diag {
    background-position: -16px -176px
}

.ui-icon-signal {
    background-position: -32px -176px
}

.ui-icon-battery-0 {
    background-position: -48px -176px
}

.ui-icon-battery-1 {
    background-position: -64px -176px
}

.ui-icon-battery-2 {
    background-position: -80px -176px
}

.ui-icon-battery-3 {
    background-position: -96px -176px
}

.ui-icon-circle-plus {
    background-position: 0 -192px
}

.ui-icon-circle-minus {
    background-position: -16px -192px
}

.ui-icon-circle-close {
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px
}

.ui-icon-circle-check {
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    margin: 0 0 0 0;
    padding: 5px;
    background: #666;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px
}

.color-1 {
    color: #000 !important;
    background: #fff !important;
}

.color-1 *:focus {
    outline: 0.05em dashed #525252;
}

.color-1 .btn:focus {
    outline: 0.3em solid #000;
}

.color-1 a:hover, .color-1 .btn:hover {
    outline: 0.05em dashed #525252;
}

.color-1 .element-item {
    border-bottom: 1px solid #525252;
}

.color-1 .bs-docs-footer {
    border-top: 1px solid #525252;
    color: #000;
}

.color-1 a {
    color: #000;
}

.color-1 a:hover {
    color: #000;
}

.color-1 .btn-default {
    color: #000;
    background-color: #fff;
    border-color: #525252;
}

.color-1 .btn-default:hover, .color-1 .btn-default:active, .color-1 .btn-default.active, .color-1 .open > .dropdown-toggle.btn-default, .color-1 .btn-default.menu-hover {
    color: #000;
    background-color: #eee;
    border-color: #adadad;
}

.color-1 .navbar-default {
    border-color: #525252;
}

.color-1 .dropdown-menu {
    background-color: #fff;
}

.color-1 .dropdown-menu > li > a {
    color: #000;
}

.color-1 .nav > li a:hover, .color-1 .pager li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.color-1 .form-control {
    color: #000;
    background-color: #fff;
    border: 1px solid #525252;
}

.color-1 .pagination > li > a, .color-1 .pagination > li > span {
    background-color: #fff;
    color: #000;
    border: 1px solid #525252;
}

.color-1 .pagination > li > a:hover, .color-1 .pagination > li > span:hover {
    background-color: #eee;
}

.color-1 .pagination > .active > a, .color-1 .pagination > .active > span, .color-1 .pagination > .active > a:hover, .color-1 .pagination > .active > span:hover {
    background-color: #eee;
}

.color-1 .help-block {
    color: #000;
}

.color-1 .table > thead > tr > th, .color-1 .table > tbody > tr > th, .color-1 .table > tfoot > tr > th, .color-1 .table > thead > tr > td, .color-1 .table > tbody > tr > td, .color-1 .table > tfoot > tr > td {
    border-top: 1px solid #525252 !important;
}

.color-1 .table > thead > tr > th {
    border-bottom: 2px solid #525252;
}

.color-1 .table > tbody + tbody {
    border-top: 2px solid #525252;
}

.color-1 blockquote {
    border-left: 5px solid #eee;
}

.color-1 caption {
    color: #000 !important;
    background: #fff !important;
}

.color-2 {
    color: #fff !important;
    background: #000 !important;
}

.color-2 caption {
    color: #fff !important;
    background: #000 !important;
}

.color-2 a {
    color: #fff;
}

.color-2 *:focus {
    outline: 0.05em dashed #eee;
}

.color-2 .btn:focus {
    outline: 0.3em solid #eee;
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

.color-2 a:hover, .color-2 .btn:hover {
    outline: 0.05em dashed #eee;
}

.color-2 a:hover {
    color: #fff;
}

.color-2 .element-item {
    border-bottom: 1px solid #fff;
}

.color-2 .bs-docs-footer {
    border-top: 1px solid #fff;
    color: #fff;
}

.color-2 .btn-default {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

.color-2 .btn-default:hover, .color-2 .btn-default:active, .color-2 .btn-default.active {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

.color-2 .btn-default.menu-hover {
    color: #fff;
    background-color: #525525;
    border-color: #adadad;
}

.color-2 .navbar-default {
    border-color: #fff;
}

.color-2 .navbar-default .navbar-nav > .open > a, .color-2 .navbar-default .navbar-nav > .open > a:hover {
    color: #000;
}

.color-2 .dropdown-menu {
    background-color: #000;
    border-color: #fff;
}

.color-2 .dropdown-menu > li > a {
    color: #fff;
}

.color-2 .dropdown-menu > li > a:hover {
    color: #000;
}

.color-2 .text-muted, .color-2 .dropdown-menu > .disabled > a, .color-2 .dropdown-menu > .disabled > a:hover, .color-2 .nav > li.disabled > a, .color-2 .navbar-default .navbar-brand, .color-2 .navbar-default .navbar-text, .color-2 .navbar-default .navbar-nav > li > a, .color-2 .navbar-default .navbar-link, .color-2 .navbar-default .btn-link, .color-2 .breadcrumb > .active {
    color: #fff;
}

.color-2 .nav > li a:hover, .color-2 .pager li a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #000;
}

.color-2 .form-control {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}

.color-2 .breadcrumb {
    background: #525252;
}

.color-2 .pagination > li > a, .color-2 .pagination > li > span {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.color-2 .pagination > li > a:hover, .color-2 .pagination > li > span:hover {
    background-color: #eee;
    color: #000;
}

.color-2 .pagination > .active > a, .color-2 .pagination > .active > span, .color-1 .pagination > .active > a:hover, .color-1 .pagination > .active > span:hover {
    background-color: #eee;
    color: #000;
}

.color-2 .help-block {
    color: #fff;
}

.color-2 .table > thead > tr > th, .color-2 .table > tbody > tr > th, .color-2 .table > tfoot > tr > th, .color-2 .table > thead > tr > td, .color-2 .table > tbody > tr > td, .color-2 .table > tfoot > tr > td {
    border-top: 1px solid #fff !important;
}

.color-2 .table > thead > tr > th {
    border-bottom: 2px solid #fff;
}

.color-2 .table > tbody + tbody {
    border-top: 2px solid #fff;
}

.color-2 blockquote {
    border-left: 5px solid #525252;
}

.color-3 {
    color: #195183 !important;
    background: #9dd1ff !important;
}

.color-3 caption {
    color: #195183 !important;
    background: #9dd1ff !important;
}

.color-3 a {
    color: #195183;
}

.color-3 *:focus {
    outline: 0.05em dashed #525252;
}

.color-3 .btn:focus {
    outline: 0.3em solid #fff;
}

.color-3 a:hover, .color-1 .btn:hover {
    outline: 0.05em dashed #525252;
}

.color-3 a:hover {
    color: #195183;
}

.color-3 .element-item {
    border-bottom: 1px solid #195183;
}

.color-3 .bs-docs-footer {
    border-top: 1px solid #195183;
    color: #195183;
}

.color-3 .btn-default {
    color: #195183;
    background-color: #9dd1ff;
    border-color: #195183;
}

.color-3 .btn-default:hover, .color-3 .btn-default:active, .color-3 .btn-default.active, .color-3 .open > .dropdown-toggle.btn-default, .color-3 .btn-default.menu-hover {
    color: #195183;
    background-color: #eee;
    border-color: #adadad;
}

.color-3 .navbar-default {
    border-color: #195183;
}

.color-3 .dropdown-menu {
    background-color: #9dd1ff;
    border-color: #195183;
}

.color-3 .dropdown-menu > li > a {
    color: #195183;
}

.color-3 .dropdown-menu > li > a:hover {
    color: #195183;
}

.color-3 .text-muted, .color-3 .dropdown-menu > .disabled > a, .color-3 .dropdown-menu > .disabled > a:hover, .color-3 .nav > li.disabled > a, .color-3 .navbar-default .navbar-brand, .color-3 .navbar-default .navbar-text, .color-3 .navbar-default .navbar-nav > li > a, .color-3 .navbar-default .navbar-link, .color-3 .navbar-default .btn-link, .color-3 .breadcrumb > .active {
    color: #195183;
}

.color-3 .nav > li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.color-3 .form-control {
    color: #000;
    background-color: #fff;
    border: 1px solid #195183;
}

.color-3 .breadcrumb {
    background: #73B3E7;
}

.color-3 .pagination > li > a, .color-3 .pagination > li > span {
    background-color: #9dd1ff;
    color: #195183;
    border: 1px solid #195183;
}

.color-3 .pagination > li > a:hover, .color-3 .pagination > li > span:hover {
    background-color: #eee;
    color: #195183;
}

.color-3 .pagination > .active > a, .color-3 .pagination > .active > span, .color-3 .pagination > .active > a:hover, .color-3 .pagination > .active > span:hover {
    background-color: #eee;
    color: #195183;
}

.color-3 .help-block {
    color: #195183;
}

.color-3 .table > thead > tr > th, .color-3 .table > tbody > tr > th, .color-3 .table > tfoot > tr > th, .color-3 .table > thead > tr > td, .color-3 .table > tbody > tr > td, .color-3 .table > tfoot > tr > td {
    border-top: 1px solid #195183 !important;
}

.color-3 .table > thead > tr > th {
    border-bottom: 2px solid #195183;
}

.color-3 .table > tbody + tbody {
    border-top: 2px solid #195183;
}

.color-3 blockquote {
    border-left: 5px solid #73B3E7;
}

.color-4 {
    color: #4d4b43 !important;
    background: #f7f3d6 !important;
}

.color-4 caption {
    color: #4d4b43 !important;
    background: #f7f3d6 !important;
}

.color-4 a {
    color: #4d4b43;
}

.color-4 *:focus {
    outline: 0.05em dashed #525252;
}

.color-4 .btn:focus {
    outline: 0.3em solid #fff;
}

.color-4 a:hover, .color-1 .btn:hover {
    outline: 0.05em dashed #525252;
}

.color-4 a:hover {
    color: #4d4b43;
}

.color-4 .element-item {
    border-bottom: 1px solid #4d4b43;
}

.color-4 .bs-docs-footer {
    border-top: 1px solid #4d4b43;
    color: #4d4b43;
}

.color-4 .btn-default {
    color: #4d4b43;
    background-color: #f7f3d6;
    border-color: #4d4b43;
}

.color-4 .btn-default:hover, .color-4 .btn-default:active, .color-4 .btn-default.active, .color-4 .open > .dropdown-toggle.btn-default, .color-4 .btn-default.menu-hover {
    color: #4d4b43;
    background-color: #ede3a1;
    border-color: #adadad;
}

.color-4 .navbar-default {
    border-color: #4d4b43;
}

.color-4 .dropdown-menu {
    background-color: #f7f3d6;
    border-color: #4d4b43;
}

.color-4 .dropdown-menu > li > a {
    color: #4d4b43;
}

.color-4 .dropdown-menu > li > a:hover {
    color: #4d4b43;
}

.color-4 .text-muted, .color-4 .dropdown-menu > .disabled > a, .color-4 .dropdown-menu > .disabled > a:hover, .color-4 .nav > li.disabled > a, .color-4 .navbar-default .navbar-brand, .color-4 .navbar-default .navbar-text, .color-4 .navbar-default .navbar-nav > li > a, .color-4 .navbar-default .navbar-link, .color-4 .navbar-default .btn-link, .color-4 .breadcrumb > .active {
    color: #4d4b43;
}

.color-4 .nav > li a:hover {
    text-decoration: none;
    background-color: #ede3a1;
}

.color-4 .form-control {
    color: #4d4b43;
    background-color: #ede3a1;
    border: 1px solid #4d4b43;
}

.color-4 .breadcrumb {
    background: #ede3a1;
}

.color-4 .pagination > li > a, .color-4 .pagination > li > span {
    background-color: #f7f3d6;
    color: #4d4b43;
    border: 1px solid #4d4b43;
}

.color-4 .pagination > li > a:hover, .color-4 .pagination > li > span:hover {
    background-color: #ede3a1;
    color: #4d4b43;
}

.color-4 .pagination > .active > a, .color-4 .pagination > .active > span, .color-4 .pagination > .active > a:hover, .color-4 .pagination > .active > span:hover {
    background-color: #ede3a1;
    color: #4d4b43;
}

.color-4 .help-block {
    color: #4d4b43;
}

.color-4 .table > thead > tr > th, .color-4 .table > tbody > tr > th, .color-4 .table > tfoot > tr > th, .color-4 .table > thead > tr > td, .color-4 .table > tbody > tr > td, .color-4 .table > tfoot > tr > td {
    border-top: 1px solid #4d4b43 !important;
}

.color-4 .table > thead > tr > th {
    border-bottom: 2px solid #4d4b43;
}

.color-4 .table > tbody + tbody {
    border-top: 2px solid #4d4b43;
}

.color-4 .nav .open > a, .color-4 .nav .open > a:hover, .color-4 .nav .open > a:focus {
    background-color: #ede3a1;
    border-color: #337ab7;
}

.color-4 .breadcrumb > li + li:before {
    color: #4d4b43;
}

.color-4 .alert-info {
    color: #4d4b43;
    background-color: #ede3a1;
    border: 1px solid #4d4b43;
}

.color-4 blockquote {
    border-left: 5px solid #ede3a1;
}

.color-5 {
    color: #a9dd38 !important;
    background: #3b2716 !important;
}

.color-5 caption {
    color: #a9dd38 !important;
    background: #3b2716 !important;
}

.color-5 a {
    color: #a9dd38;
}

.color-5 *:focus {
    outline: 0.05em dashed #525252;
}

.color-5 .btn:focus {
    outline: 0.3em solid #fff;
}

.color-5 a:hover, .color-1 .btn:hover {
    outline: 0.05em dashed #525252;
}

.color-5 a:hover {
    color: #a9dd38;
}

.color-5 .element-item {
    border-bottom: 1px solid #a9dd38;
}

.color-5 .bs-docs-footer {
    border-top: 1px solid #a9dd38;
    color: #a9dd38;
}

.color-5 .btn-default {
    color: #a9dd38;
    background-color: #3b2716;
    border-color: #a9dd38;
}

.color-5 .btn-default:hover, .color-5 .btn-default:active, .color-5 .btn-default.active, .color-5 .open > .dropdown-toggle.btn-default, .color-5 .btn-default.menu-hover {
    color: #a9dd38;
    background-color: #51431d;
    border-color: #adadad;
}

.color-5 .navbar-default {
    border-color: #a9dd38;
}

.color-5 .dropdown-menu {
    background-color: #3b2716;
    border-color: #a9dd38;
}

.color-5 .dropdown-menu > li > a {
    color: #a9dd38;
}

.color-5 .dropdown-menu > li > a:hover {
    color: #a9dd38;
}

.color-5 .text-muted, .color-5 .dropdown-menu > .disabled > a, .color-5 .dropdown-menu > .disabled > a:hover, .color-5 .nav > li.disabled > a, .color-5 .navbar-default .navbar-brand, .color-5 .navbar-default .navbar-text, .color-5 .navbar-default .navbar-nav > li > a, .color-5 .navbar-default .navbar-link, .color-5 .navbar-default .btn-link, .color-5 .breadcrumb > .active {
    color: #a9dd38;
}

.color-5 .nav > li a:hover {
    text-decoration: none;
    background-color: #51431d;
}

.color-5 .form-control {
    color: #a9dd38;
    background-color: #51431d;
    border: 1px solid #a9dd38;
}

.color-5 .breadcrumb {
    background: #51431d;
}

.color-5 .pagination > li > a, .color-5 .pagination > li > span {
    background-color: #3b2716;
    color: #a9dd38;
    border: 1px solid #a9dd38;
}

.color-5 .pagination > li > a:hover, .color-5 .pagination > li > span:hover {
    background-color: #51431d;
    color: #a9dd38;
}

.color-5 .pagination > .active > a, .color-5 .pagination > .active > span, .color-5 .pagination > .active > a:hover, .color-5 .pagination > .active > span:hover {
    background-color: #51431d;
    color: #a9dd38;
}

.color-5 .help-block {
    color: #a9dd38;
}

.color-5 .table > thead > tr > th, .color-5 .table > tbody > tr > th, .color-5 .table > tfoot > tr > th, .color-5 .table > thead > tr > td, .color-5 .table > tbody > tr > td, .color-5 .table > tfoot > tr > td {
    border-top: 1px solid #a9dd38 !important;
}

.color-5 .table > thead > tr > th {
    border-bottom: 2px solid #a9dd38;
}

.color-5 .table > tbody + tbody {
    border-top: 2px solid #a9dd38;
}

.color-5 .nav .open > a, .color-5 .nav .open > a:hover, .color-5 .nav .open > a:focus {
    background-color: #51431d;
    border-color: #337ab7;
}

.color-5 .breadcrumb > li + li:before {
    color: #a9dd38;
}

.color-5 .alert-info {
    color: #a9dd38;
    background-color: #51431d;
    border: 1px solid #a9dd38;
}

.color-5 blockquote {
    border-left: 5px solid #51431d;
}

.font-size-100 {
    font-size: 20px;
}

.font-size-100 .navbar-default {
    font-size: 28px;
}

.font-size-100 .navbar-nav > li > a {
    line-height: 36px;
}

.font-size-100 h1, .font-size-100 .h1 {
    font-size: 62px;
}

.font-size-100 h2, .font-size-100 .h2 {
    font-size: 51px;
}

.font-size-100 h3, .font-size-100 .h3 {
    font-size: 41px;
}

.font-size-100 h4, .font-size-100 .h4 {
    font-size: 28px;
}

.font-size-100 h5, .font-size-100 .h5 {
    font-size: 24px;
}

.font-size-100 h6, .font-size-100 .h6 {
    font-size: 21px;
}

.font-size-100 .form-control {
    font-size: 24px;
    min-height: 50px;
}

.font-size-100 textarea.form-control {
    height: auto;
}

#content.font-size-100 .btn {
    font-size: 24px;
}

.font-size-100 p, .font-size-100 span, .font-size-100 div, .font-size-100 b, .font-size-100 i, .font-size-100 sup, .font-size-100 sub, .font-size-100 pre, .font-size-100 em, .font-size-100 strong {
    font-size: 20px !important;
}

.font-size-150 {
    font-size: 30px;
}

.font-size-150 .navbar-default {
    font-size: 42px;
}

.font-size-150 .navbar-nav > li > a {
    line-height: 53px;
}

.font-size-150 h1, .font-size-150 .h1 {
    font-size: 93px;
}

.font-size-150 h2, .font-size-150 .h2 {
    font-size: 76px;
}

.font-size-150 h3, .font-size-150 .h3 {
    font-size: 61px;
}

.font-size-150 h4, .font-size-150 .h4 {
    font-size: 42px;
}

.font-size-150 h5, .font-size-150 .h5 {
    font-size: 36px;
}

.font-size-150 h6, .font-size-150 .h6 {
    font-size: 31px;
}

.font-size-150 .form-control {
    font-size: 36px;
    min-height: 68px;
}

.font-size-150 textarea.form-control {
    height: auto;
}

#content.font-size-150 .btn {
    font-size: 36px;
}

.font-size-150 p, .font-size-150 span, .font-size-150 div, .font-size-150 b, .font-size-150 i, .font-size-150 sup, .font-size-150 sub, .font-size-150 pre, .font-size-150 em, .font-size-150 strong {
    font-size: 30px !important;
}

.font-size-200 {
    font-size: 40px;
}

.font-size-200 .navbar-default {
    font-size: 56px;
}

.font-size-200 .navbar-nav > li > a {
    line-height: 71px;
}

.font-size-200 h1, .font-size-200 .h1 {
    font-size: 124px;
}

.font-size-200 h2, .font-size-200 .h2 {
    font-size: 102px;
}

.font-size-200 h3, .font-size-200 .h3 {
    font-size: 82px;
}

.font-size-200 h4, .font-size-200 .h4 {
    font-size: 56px;
}

.font-size-200 h5, .font-size-200 .h5 {
    font-size: 48px;
}

.font-size-200 h6, .font-size-200 .h6 {
    font-size: 42px;
}

.font-size-200 .form-control {
    font-size: 48px;
    min-height: 86px;
}

.font-size-200 textarea.form-control {
    height: auto;
}

#content.font-size-200 .btn {
    font-size: 48px;
}

.font-size-200 p, .font-size-200 span, .font-size-200 div, .font-size-200 b, .font-size-200 i, .font-size-200 sup, .font-size-200 sub, .font-size-200 pre, .font-size-200 em, .font-size-200 strong {
    font-size: 40px !important;
}

.kerning-2 {
    letter-spacing: 2px;
}

.kerning-2.font-size-150 {
    letter-spacing: 3px;
}

.kerning-2.font-size-200 {
    letter-spacing: 4px;
}

.kerning-3 {
    letter-spacing: 4px;
}

.kerning-3.font-size-150 {
    letter-spacing: 6px;
}

.kerning-3.font-size-200 {
    letter-spacing: 8px;
}

.garnitura-2 {
    font-family: 'Times New Roman';
}

.garnitura-1 {
    font-family: 'Arial';
}

.not-images img {
    /*display: none;*/
    border: 1px solid gray;
    -webkit-filter: opacity(0);
    -moz-filter: opacity(0);
    -ms-filter: opacity(0);
    -o-filter: opacity(0);
    filter: opacity(0);
}

.not-flash .fl-wrapper {
    height: 0;
}

#content {
    /*padding-top: 125px;*/
    /*margin-top: -125px;*/
    margin-top: 90px;
    padding: 20px;
}

#content * {
    text-align: left !Important;
}

.container.wcag { /* width:960px; */
    position: relative;
}

.bs-docs-panel {
    z-index: 1000;
    position: fixed;
    margin-top: 70px;
}

.panel-access {
    margin-bottom: 6px;
    border-radius: 0 0 4px 4px;
    border-top: 0;
    width: 100%;
}

.panel-access * {
    font-size: 20px;
}

.panel-access .btn-title {
    display: inline-block;
    float: left;
    font-size: 20px;
    line-height: 1.5em;
    padding: 7px 6px;
    letter-spacing: 1px;
}

.panel-access .btn-default {
    position: relative;
    padding: 6px 12px;
}

.panel-access .btn-default span.hover {
    display: none;
    width: 100%;
    position: absolute;
    height: 3px;
    background: #000;
    left: 0;
    bottom: -6px;
}

.panel-access .btn-default.checked span.hover {
    display: block;
}

.panel-access .btn-group {
    margin-right: 12px;
}

.panel-access .btn-group-close, .panel-access .btn-group-setting, .panel-access .btn-group-no-resume {
    float: right;
    margin-right: 0;
}

.panel-access .btn-color-1 {
    background: #fff;
    color: #000;
}

.panel-access .btn-color-2 {
    background: #000;
    color: #fff;
}

.panel-access .btn-color-3 {
    background: #9dd1ff;
    color: #195183;
}

.panel-access .btn-color-4 {
    background: #f7f3d6;
    color: #4d4b43;
}

.panel-access .btn-color-5 {
    background: #3b2716;
    color: #a9e44d;
}

.panel-access .btn-font-size-150 span.value {
    font-size: 30px;
    display: block;
    height: 30px;
    line-height: 32px;
}

.panel-access .btn-font-size-200 span.value {
    font-size: 40px;
    display: block;
    height: 30px;
    line-height: 32px;
}

.panel-access .btn-kerning-2 {
    letter-spacing: 2px;
}

.panel-access .btn-kerning-3 {
    letter-spacing: 4px;
}

.panel-access .btn-garnitura-2 {
    font-family: 'Times New Roman';
}

.panel-access .panel-subsetting {
    padding-top: 16px;
    display: none;
}

.panel-access .panel-subsetting .container-fluid {
    margin-top: 16px;
}

.panel-access .panel-subsetting .btn-title {
    width: 112px;
}

.panel-access .panel-reset {
    padding-top: 16px;
}

.panel-access .panel-auth {
    display: none;
}

.panel-access .panel-auth .help-block-error {
    display: none;
}

.panel-access .panel-auth .help-block-success {
    display: none;
}

.panel-access .panel-auth.error .help-block-error {
    color: red;
    display: block;
}

.panel-access .panel-auth.success .help-block-success {
    color: green;
    display: block;
}

.panel-access .panel-auth.success .help-block-default, .panel-access .panel-auth.error .help-block-default {
    display: none;
}

.panel-access .panel-auth.success .form-group {
    display: none;
}

.panel-access .panel-auth.success .btn-group-no-resume {
    display: none;
}

.btn-default {
    position: relative;
    letter-spacing: 1px;
    font-family: 'Arial';
}

.btn-banner {
    margin: 0 20px;
}

a.btn-default {
    text-decoration: none;
}

.btn-help-form {
    margin-bottom: 20px;
}

.alert-info-form {
    display: none;
}

.top-menu {
    margin-bottom: 0;
    margin-top: 32px;
}

.top-menu a {
    text-decoration: none;
}

.bottom-menu a {
    text-decoration: none;
}

.left-menu a {
    text-decoration: none;
}

.special-mibok-menu, .mibok-menu {
    margin-top: 32px;
}

.special-mibok-menu a, .mibok-menu a {
    text-decoration: none;
}

.breadcrumb {
    margin: 32px 0 0;
}

.breadcrumb > li.first {
    margin-right: 8px;
}

.breadcrumb > li.first + li:before {
    content: "";
    padding: 0;
}

.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    text-align: left;
}

.element-item, .element-detail {
    margin-top: 36px;
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.element-item .element-title {
    margin-top: 18px; /* font-size:28px; */
}

.banner-toolbar {
    margin-left: 0;
    margin-bottom: 36px;
}

.table, .table th {
    background: transparent !important;
}

.color-1 .table, .color-1 .table th {
    color: #000 !important;
}

.color-2 .table, .color-2 .table th {
    color: #fff !important;
}

.color-3 .table, .color-3 .table th {
    color: #195183 !important;
}

input[type="radio"], input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

.color-2#content input, .color-2#content button, .color-2#content select, .color-2#content textarea {
    background: #525252 !important;
    border-color: #fff;
}

.color-3#content input, .color-3#content button, .color-3#content select, .color-3#content textarea {
    background: #9dd1ff !important;
}

.color-2#c_panel_special .navbar-default .navbar-toggle, .color-2#c_panel_special .panel-default {
    background: #525252;
}

.color-3#c_panel_special .navbar-default .navbar-toggle, .color-3#c_panel_special .panel-default {
    background: #73B3E7;
}

.color-4#c_panel_special .navbar-default .navbar-toggle, .color-4#c_panel_special .panel-default {
    background: #ede3a1;
}

.color-5#c_panel_special .navbar-default .navbar-toggle, .color-5#c_panel_special .panel-default {
    background: #51431d;
}

.color-2 .panel-access .btn-default span.hover, .color-5 .panel-access .btn-default span.hover {
    background: #fff;
}

.btn {
    white-space: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    word-wrap: break-word;
}

.btn-toolbar .btn-group {
    margin-bottom: 10px;
}

@media (max-width: 610px) {
    .panel-access .p-content, .panel-access .p-font, .panel-access .p-color, .panel-access .p-setting {
        margin-top: 20px;
        float: left !important;
    }

    .panel-access .btn-group-close {
        float: left !important;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle), .btn-group > .btn:last-child:not(:first-child) {
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .dropdown-menu > li > a {
        white-space: normal;
    }
}

@media (min-width: 611px) and (max-width: 991px) {
    .panel-access .p-color, .panel-access .p-setting {
        margin-top: 20px;
    }

    .panel-access .p-setting {
        float: left !important;
    }

    .panel-access .btn-group-close {
        float: left !important;
    }

    .dropdown-menu > li > a {
        white-space: normal;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .panel-access .btn-group {
        margin-right: 5px;
    }

}


@media (min-width: 992px) and (max-width: 1034px) {
    .panel-body {
        padding: 15px 0;
    }

    .container.wcag {
        width: 985px;
    }
}

@media (min-width: 1034px) and (max-width: 1199px) {
    .container.wcag {
        width: 1015px;
    }
}

/*01.06.2015*/
.changebtstrp .col-xs-1, .changebtstrp .col-sm-1, .changebtstrp .col-md-1, .changebtstrp .col-lg-1, .changebtstrp .col-xs-2, .changebtstrp .col-sm-2, .changebtstrp .col-md-2, .changebtstrp .col-lg-2, .changebtstrp .col-xs-3, .changebtstrp .col-sm-3, .changebtstrp .col-md-3, .changebtstrp .col-lg-3, .changebtstrp .col-xs-4, .changebtstrp .col-sm-4, .changebtstrp .col-md-4, .changebtstrp .col-lg-4, .changebtstrp .col-xs-5, .changebtstrp .col-sm-5, .changebtstrp .col-md-5, .changebtstrp .col-lg-5, .changebtstrp .col-xs-6, .changebtstrp .col-sm-6, .changebtstrp .col-md-6, .changebtstrp .col-lg-6, .changebtstrp .col-xs-7, .changebtstrp .col-sm-7, .changebtstrp .col-md-7, .changebtstrp .col-lg-7, .changebtstrp .col-xs-8, .changebtstrp .col-sm-8, .changebtstrp .col-md-8, .changebtstrp .col-lg-8, .changebtstrp .col-xs-9, .changebtstrp .col-sm-9, .changebtstrp .col-md-9, .changebtstrp .col-lg-9, .changebtstrp .col-xs-10, .changebtstrp .col-sm-10, .changebtstrp .col-md-10, .changebtstrp .col-lg-10, .changebtstrp .col-xs-11, .changebtstrp .col-sm-11, .changebtstrp .col-md-11, .changebtstrp .col-lg-11, .changebtstrp .col-xs-12, .changebtstrp .col-sm-12, .changebtstrp .col-md-12, .changebtstrp .col-lg-12 {
    width: 100%;
}

.font-size-100 .panel-access *, .font-size-150 .panel-access *, .font-size-200 .panel-access * {
    font-size: 20px !important;
}

.font-size-100 .panel-access .btn-font-size-100 span.value, .font-size-150 .panel-access .btn-font-size-100 span.value, .font-size-200 .panel-access .btn-font-size-100 span.value {
    font-size: 20px !important;
}

.font-size-100 .panel-access .btn-font-size-150 span.value, .font-size-150 .panel-access .btn-font-size-150 span.value, .font-size-200 .panel-access .btn-font-size-150 span.value {
    font-size: 30px !important;
}

.font-size-100 .panel-access .btn-font-size-200 span.value, .font-size-150 .panel-access .btn-font-size-200 span.value, .font-size-200 .panel-access .btn-font-size-200 span.value {
    font-size: 40px !important;
}

.font-size-100 .panel-access .btn-title, .font-size-150 .panel-access .btn-title, .font-size-200 .panel-access .btn-title {
    font-family: 'Arial';
    font-size: 20px !important;
}

.font-size-100 .author-mibok, .font-size-150 .author-mibok, .font-size-200 .author-mibok {
    text-align: right;
    font-size: 14px !important;
    color: grey;
    margin-right: 15px;
    font-family: 'Arial';
    line-height: 1.5;
    letter-spacing: 1px;
}

.font-size-100 .dropdown-menu {
    font-size: 24px;
}

.font-size-150 .dropdown-menu {
    font-size: 30px;
}

.font-size-200 .dropdown-menu {
    font-size: 40px;
}

#content.color-1 .btn-primary, #content.color-1 .btn-success, #content.color-1 .btn-info, #content.color-1 .btn-warning, #content.color-1 .btn-danger {
    background-color: #fff;
    border-color: #525252;
    color: #000;
}

#content.color-2 .btn-primary, #content.color-2 .btn-success, #content.color-2 .btn-info, #content.color-2 .btn-warning, #content.color-2 .btn-danger {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

#content.color-2 .btn-primary:hover, #content.color-2 .btn-success:hover, #content.color-2 .btn-info:hover, #content.color-2 .btn-warning:hover, #content.color-2 .btn-danger:hover {
    background-color: #525252;
    border-color: #adadad;
}

#content.color-2 .btn-primary:active, #content.color-2 .btn-success:active, #content.color-2 .btn-info:active, #content.color-2 .btn-warning:active, #content.color-2 .btn-danger:active {
    background-color: #525252;
    border-color: #adadad;
}

#content.color-3 .btn-primary, #content.color-3 .btn-success, #content.color-3 .btn-info, #content.color-3 .btn-warning, #content.color-3 .btn-danger {
    color: #195183;
    background-color: #9dd1ff;
    border-color: #195183;
}

#content.color-3 .btn-primary:hover, #content.color-3 .btn-success:hover, #content.color-3 .btn-info:hover, #content.color-3 .btn-warning:hover, #content.color-3 .btn-danger:hover {
    color: #195183;
    background-color: #eee !important;
    border-color: #adadad;
}

#content.color-3 .btn-primary:active, #content.color-3 .btn-success:active, #content.color-3 .btn-info:active, #content.color-3 .btn-warning:active, #content.color-3 .btn-danger:active {
    color: #195183;
    background-color: #eee !important;
    border-color: #adadad;
}

.btn {
    margin: 5px 0;
}

.tab-content {
    margin-top: 5px;
}

table, table tr, table td, table th {
    background: transparent;
}

.color-1 font {
    color: #000 !important;
    background: #fff !important;
}

.color-2 font {
    color: #fff !important;
    background: #000 !important;
}

.color-3 font {
    color: #195183 !important;
    background: #9dd1ff !important;
}

/*voice - 30.08.2015  */

.voice_btn, .voice_btn_play {
    float: right;
    margin: 5px 0 10px 20px;
    z-index: 10;
    width: 195px;
    text-align: center;
}

.voice_btn_play, .voice_pad {
    padding-left: 30px;
}

.font-size-100.kerning-1 .wrapper_player {
    width: 200px;
}

.font-size-100.kerning-2 .voice_btn, .font-size-100.kerning-2 .voice_btn_play, .font-size-100.kerning-2 .wrapper_player {
    width: 220px;
}

.font-size-100.kerning-3 .voice_btn, .font-size-100.kerning-3 .voice_btn_play, .font-size-100.kerning-3 .wrapper_player {
    width: 245px;
}

.font-size-150.kerning-1 .voice_btn, .font-size-150.kerning-1 .voice_btn_play, .font-size-150.kerning-1 .wrapper_player {
    width: 270px;
}

.font-size-150.kerning-2 .voice_btn, .font-size-150.kerning-2 .voice_btn_play, .font-size-150.kerning-2 .wrapper_player {
    width: 305px;
}

.font-size-150.kerning-3 .voice_btn, .font-size-150.kerning-3 .voice_btn_play, .font-size-150.kerning-3 .wrapper_player {
    width: 345px;
}

.font-size-200.kerning-1 .voice_btn, .font-size-200.kerning-1 .voice_btn_play, .font-size-200.kerning-1 .wrapper_player {
    width: 350px;
}

.font-size-200.kerning-2 .voice_btn, .font-size-200.kerning-2 .voice_btn_play, .font-size-200.kerning-2 .wrapper_player {
    width: 395px;
}

.font-size-200.kerning-3 .voice_btn, .font-size-200.kerning-3 .voice_btn_play, .font-size-200.kerning-3 .wrapper_player {
    width: 445px;
}

.p-loud {
    margin-top: 10px;
}

.p-loud #current-volume {
    width: 33px;
    display: inline-block;
    text-align: right;
}

/*important style and new classes - 28.09.2015 */
.color-1#content font, .color-1#content span, .color-1#content div:not(.photo-item-cover), .color-1#content p {
    color: #000 !important;
    background: transparent !important;
}

.color-2#content font, .color-2#content span, .color-2#content div:not(.photo-item-cover), .color-2#content p {
    color: #fff !important;
    background: transparent !important;
}

.color-3#content font, .color-3#content span, .color-3#content div:not(.photo-item-cover), .color-3#content p {
    color: #195183 !important;
    background: transparent !important;
}

.color-4#content font, .color-4#content span, .color-4#content div:not(.photo-item-cover), .color-4#content p {
    color: #4d4b43 !important;
    background: transparent !important;
}

.color-5#content font, .color-5#content span, .color-5#content div:not(.photo-item-cover), .color-5#content p {
    color: #a9dd38 !important;
    background: transparent !important;
}


.line-1 {
    line-height: 1.5;
}

.line-2 {
    line-height: 2;
}

.line-3 {
    line-height: 2.5;
}

/*new style - 12.01.2016*/
.container-player {
    width: 210px;
    float: right;
    z-index: 10;
    margin-left: 10px; /*margin-bottom: 10px;*/
    clear: both;
    padding-left: 15px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
    margin-left: -.3em;
}

.ui-slider .ui-slider-handle {
    width: 0.6em;
    height: 1.4em;
}

.slider_begin {
    float: left;
}

.slider_end {
    float: right;
}

.voice_btn, .voice_btn_play {
    margin-bottom: 56px;
}

.voice_btn.no-margin, .voice_btn_play.no-margin {
    margin-bottom: 3px;
}

.wrapper-slider {
    margin-bottom: 7px;
}

.wrapper-slider.disabled {
    opacity: 0.35;
}

.font-size-100 .author-mibok a, .font-size-150 .author-mibok a, .font-size-200 .author-mibok a {
    text-align: right;
    font-size: 14px !important;
    color: grey;
    margin-right: 15px;
    text-decoration: none;
    letter-spacing: 1px;
}

.slider {
    margin-top: 10px;
    margin-bottom: 7px;
}

.font-size-100.kerning-1 .container-player {
    width: 210px;
}

.font-size-100.kerning-2 .container-player {
    width: 235px;
}

.font-size-100.kerning-3 .container-player {
    width: 260px;
}

.font-size-100.line2 .voice_btn, .font-size-100.line2 .voice_btn_play {
    margin-bottom: 66px;
}

.font-size-100 .container-player .slider_begin, .font-size-100 .container-player .slider_end {
    font-size: 18px !important;
}

.font-size-100 .element-item {
    min-height: 135px;
}

.font-size-100 .wrapper-slider {
    min-height: 75px;
}

.font-size-150.kerning-1 .container-player {
    width: 285px;
}

.font-size-150.kerning-2 .container-player {
    width: 320px;
}

.font-size-150.kerning-3 .container-player {
    width: 360px;
}

.font-size-150.line1 .voice_btn, .font-size-150.line1 .voice_btn_play {
    margin-bottom: 79px;
}

.font-size-150.line2 .voice_btn, .font-size-150.line2 .voice_btn_play {
    margin-bottom: 79px;
}

.font-size-150 .voice_btn, .font-size-150 .voice_btn_play {
    margin-bottom: 79px;
}

.font-size-150 .voice_btn.no-margin, .font-size-150 .voice_btn_play.no-margin {
    margin-bottom: 10px;
}

.font-size-150 .element-item {
    min-height: 185px;
}

.font-size-150 .container-player .slider_begin, .font-size-150 .container-player .slider_end {
    font-size: 26px !important;
}

.font-size-150 .wrapper-slider {
    min-height: 100px;
}

.font-size-200.kerning-1 .container-player {
    width: 365px;
}

.font-size-200 .voice_btn, .font-size-200 .voice_btn_play {
    margin-bottom: 102px;
}

.font-size-200 .voice_btn.no-margin, .font-size-200 .voice_btn_play.no-margin {
    margin-bottom: 10px;
}

.font-size-200.kerning-2 .container-player {
    width: 410px;
}

.font-size-200.kerning-3 .container-player {
    width: 460px;
}

.font-size-200 .element-item {
    min-height: 230px;
}

.font-size-200 .container-player .slider_begin, .font-size-200 .container-player .slider_end {
    font-size: 34px !important;
}

.font-size-200 .wrapper-slider {
    min-height: 125px;
}

.color-3#content .ui-slider .ui-slider-range {
    border-radius: 0;
}

.color-1#content .ui-widget-content {
    border: 2px solid #525252;
}

.color-1#content .ui-state-default, .color-1#content .ui-widget-content .ui-state-default, .color-1#content .ui-widget-header .ui-state-default {
    border: 2px solid #525252;
    background: #ededed !important;
}

.color-1#content .ui-slider .ui-slider-range {
    background: #ededed !important;
}

.color-1#content .player-bg {
    background: #fff !important;
}

.color-2#content .ui-widget-content {
    border: 2px solid #fff;
}

.color-2#content .ui-state-default, .color-2#content .ui-widget-content .ui-state-default, .color-2#content .ui-widget-header .ui-state-default {
    border: 2px solid #fff;
    background: #525252 !important;
}

.color-2#content .ui-slider .ui-slider-range {
    background: #525252 !important;
}

.color-3#content .ui-widget-content {
    border: 2px solid #525252;
}

.color-3#content .ui-state-default, .color-3#content .ui-widget-content .ui-state-default, .color-3#content .ui-widget-header .ui-state-default {
    border: 2px solid #525252;
    background: #73B3E7 !important;
}

.color-3#content .ui-slider .ui-slider-range {
    background: #73B3E7 !important;
}

.color-4#content .ui-widget-content {
    border: 2px solid #4d4b43;
}

.color-4#content .ui-state-default, .color-4#content .ui-widget-content .ui-state-default, .color-4#content .ui-widget-header .ui-state-default {
    border: 2px solid #4d4b43;
    background: #ede3a1 !important;
}

.color-4#content .ui-slider .ui-slider-range {
    background: #ede3a1 !important;
}

.color-5#content .ui-widget-content {
    border: 2px solid #a9dd38;
}

.color-5#content .ui-state-default, .color-5#content .ui-widget-content .ui-state-default, .color-5#content .ui-widget-header .ui-state-default {
    border: 2px solid #a9dd38;
    background: #51431d !important;
}

.color-5#content .ui-slider .ui-slider-range {
    background: #51431d !important;
}

.container-player { /*position: relative;top: -65px;*/
    margin-top: -20px;
}

.element-item, .element-detail {
    padding-bottom: 36px;
}

.page_body > .container-player {
    margin-top: -66px;
}

.element-content {
}

.page_body {
    padding-top: 35px;
}

/*12.2016*/
#selectiontext {
    display: none;
    position: absolute;
    right: 0;
    z-index: 20;
}

/*
.mono img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
}
*/

.mono img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
/ / filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
}

/*
#page img{display: block;max-width: 100%;height: auto;}
*/

.beforeImg {
    font-size: large;
}