html {
    position: relative;
    min-height: 100%;
}
body {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}



img {
    vertical-align: top;
}
a {
    color: rgb(51,51,51);
    text-decoration: none;
}
a:hover {
    color: rgb(51,51,51);
    text-decoration: none;
}



.largeBold {
    font-weight: bold;
    font-size: xx-large;
}
.mediumNormal {
    font-size: large;
    color: gray;
}
.mediumGrayBold {
    font-weight: bold;
    font-size: medium;
    color: lightgray;
}
.smallGray {
    font-size: small;
    color: lightgray;
}
.backGray:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}



.textInput {
    border: none;
    border-bottom: 1px solid gray;
    font-size: large;
}
.scale, .changeBack, .moveUp, .moveDown {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.scale:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.changeBack:hover {
    background-color: yellow;
    cursor: pointer;
}
.moveUp:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.moveDown:hover {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}