.ui-state-highlight {
    border: 1px solid red;
    height: 1.5em;
    line-height: 1.2em;
}

ul.subMenu > div > a {
	text-decoration: none;
}

ul.subMenu > div:hover {
	border-bottom: 1px dotted black;
	cursor: pointer;
}