.request-info ol {
    list-style: none; 
    counter-reset: li;
    margin-left: -18px;
}

.request-info ol > li {
    margin-top: 10px;
    padding-left: 18px;
    text-indent: -18px;
}

.request-info ol li p {
    text-indent: 0px;
}

.request-info ol > li:before {
    counter-increment: li; 
    content: counters(li,".") ". ";
}

.request-info ul > li {
    text-indent: 0px;
}

.request-write #titlePrevAuthors {
    margin: 20px 0px;
    font-weight: bold;
}

.request-view table.detail-view th {
    width: 20%;
}